defaults: &defaults
  frontend_proto: https
  frontend_host: media.freifunk.net
  cdn_url: https://cdn.media.freifunk.net
  static_url: https://cdn.media.freifunk.net
  cors_url: https://cdn.media.freifunk.net
  folders:
    recordings_webroot: ''
    images_webroot: ""
    tmp_dir: "/tmp"
  header:
    google: ""
  feeds:
    base_url: "https://media.freifunk.net/"
    channel_title: Freifunk
    channel_subtitle: A wide variety of video material distributed by the Freifunk community. All content
      is taken from cdn.media.freifunk.net and media.freifunk.net
    channel_description: Freifunk ist eine nicht-kommerzielle Initiative für freie Funknetzwerke.
      media.freifunk.net bündelt Video- und Audiomaterial der Community.
    channel_summary: A wide variety of video material distributed by the Freifunk community.
    channel_owner: freifunk.net Webteam
    channel_keywords: Freifunk Video Media Streaming Open Infrastructure

development:
  <<: *defaults
test:
  <<: *defaults
  static_url: https://cdn.media.freifunk.net
  folders:
    recordings_webroot: ''
    images_webroot: ''
    tmp_dir: '/tmp'

production:
  <<: *defaults
